/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container{
 padding: 1em;
}

.search-box{
  padding-top: 2.5em;
  width: 80%;
  margin: 0 auto;

}
  
 .gallery {
  @include mquery('m'){
  @include flex($dir: column, $wrap: wrap);
    padding: 2em 2em;
  }
  }

  .row{
    @include flex($dir: row, $wrap: wrap, $just: center);
  }

  .col {
    @include mquery('m'){
    @include flex($dir: row, $basis: 25%, $just:center, $wrap: wrap);
    }
  }

  