/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: 'Lato', sans-serif;
  color: $color-text;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}

h4{
  font-weight: normal;
}

li{
  list-style: none;
}

ul{
  padding: 0;
  margin: 0;
}

.lb-caption{
  display: block;
  text-align: center;
  margin-left: 30px;
}

/* ============================================= */
/*              Typography                       */
/* ============================================= */

.headline-primary {
    color: $color-primary;
    margin-left: 10px;

.headline-secondary {
    font-weight: 300;
    color: $color-text;
}

}
